#about_page {
    margin-bottom: 400px;
}

#about_page .title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

#about_page .return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;
    display: inline-block;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
}

#about_page .develop-info {
    margin-top: 60px;
}

#about_page .develop-info__description
{
    width: 400px;
    margin: auto;
}