body {
    background: -webkit-linear-gradient(top, #1B6990,#141C4C);
    user-select: none;
}

a {
    text-decoration: none;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

.return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;
    display: inline-block;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
}

.scrollable-list {
    width: 200px;
    height: 320px;
    margin: auto;
    padding-left: 250px;
    padding-right: 250px;

    list-style: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    touchScrolling: true;
}

.scrollable-list__item {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;

    display: inline-block;
    user-select: none;

    line-height: 50px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.scrollable-list__item img {
    user-select: none;
    width: 150px;
    height: 150px;
}

.scrollable-list-description {
    width: 40%;
    margin-bottom: 20%;
    height: 150px;
    margin-top: 10px;
    margin-left: 30%;

    text-align: center;
    border: 3px solid rgba(255,255,255,0.3);
    background-color: rgba(69, 90, 100, 0.5);
    color: rgba(0,0,0,0.7);
}

.scrollable-list-description__item {
    display: none;
}