.modal-header-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.concede-modal__text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
}

.choose {
    display: flex;
    font-size: 24px;
    margin-bottom: 25px;
}

.choose__yes, .choose__no {
    font-size: 36px;
}

.choose__yes {
    margin-left: auto;
    margin-right: auto;
}

.choose__no {
    margin-left: auto;
    margin-right: auto;
}

.choose__yes:hover, .choose__no:hover {
    color: mediumpurple;
    text-decoration: underline;
}