.modal-content {
    width: 50%;
}

.modal-header-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.defeat-modal__text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
}

.defeat-modal__text {
    margin-left: 30%;
    font-size: 36px;
    font-weight: bold;
}

.change, .rating_score {
    display: inline-block;
    margin-left: 15px;
}

.defeat-modal .change {
    color: #8b1700;
}

.rating__change, .new__rating, .change, .rating_score {
    font-weight: bold;
    font-size: 28px;
}

.rating__change, .new__rating {
    margin-left: 10%;
    margin-top: 2%;
}

.rating {
    margin-bottom: 10%;
}