.game-header {
    font-family: 'Patua One', cursive;
    flex-direction: row;
    display: inline-flex;
    /*justify-content: space-around;*/
    width: 100%;
}
.flex-info {
    font-family: 'Patua One', cursive;
    /*display: flex;*/
    width: 100%;
    flex-direction: row;
    display: inline-flex;
    text-align: center;
    /*padding-top: 20px;*/
    margin-bottom: 45px;
    justify-content: space-around;
}

.game-back-link {
    font-family: 'Patua One', cursive;
    /*padding-left: 20px;*/
    font-size: 28px;
    display: inline-block;
    white-space: nowrap;
    position: fixed;
    /*display: flex;*/
}

.player1, .player2, .score {
    font-family: 'Patua One', cursive;
    text-align: center;
    /*display: flex;*/
}

.player1 {
    /*padding-left: 15%;*/
}

.score {
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
}

.score {
    position: inherit;
    font-family: 'Patua One', cursive;
}

.player1_score, .separate, .player2_score {
    display: inline-block;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    font-size: 100px;
}

.player_rating_score, .player_rating {
    font-family: 'Patua One', cursive;
    display: initial;
}

.player_rating_score {
    font-size: 32px;
    margin-left: 12px;
}

.player_nickname, .player_rating {
    display: block;
    font-size: 52px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.player_rating {
    display: initial;
    font-size: 24px;
}

canvas {
    position: absolute;
    top: 18%;
}

.goleft, .goright, .result {
    display: none;
}

@media screen and (min-width:1000px) and (max-width:1200px) {
    .player1 {
        /*padding-left: 13%;*/
    }

    .player1_score, .separate, .player2_score {
        font-size: 90px;
    }

    .player_rating_score {
        font-size: 24px;
        margin-left: 12px;
    }

    .player_nickname {
        font-size: 40px;
    }

    .player_rating {
        font-size: 20px;
    }
}

@media screen and (min-width:800px) and (max-width:1000px) {
    .player1 {
        /*padding-left: 10%;*/
    }

    .player1_score, .separate, .player2_score {
        font-size: 80px;
    }

    .player_rating_score {
        font-size: 22px;
    }

    .player_nickname {
        font-size: 36px;
    }

    .player_rating {
        font-size: 20px;
    }
}

@media screen and (min-width:650px) and (max-width:800px) {
    .player1 {
        /*padding-left: 8%;*/
    }

    .player1_score, .separate, .player2_score {
        font-size: 70px;
    }

    .player_rating_score {
        font-size: 20px;
        margin-left: 12px;
    }

    .player_nickname {
        font-size: 28px;
    }

    .player_rating {
        font-size: 16px;
    }
}

@media screen and (min-width:520px) and (max-width:650px) {
    .player1 {
        /*padding-left: 5%;*/
    }

    .player1_score, .separate, .player2_score {
        font-size: 60px;
    }

    .player_rating_score {
        font-size: 20px;
        margin-left: 12px;
    }

    .player_nickname {
        font-size: 28px;
    }

    .player_rating {
        font-size: 16px;
    }
}

@media screen and (min-width:400px) and (max-width:520px) {
    .player1 {
        /*padding-left: 3%;*/
    }

    .player1_score, .separate, .player2_score {
        font-size: 50px;
    }

    .player_rating_score {
        font-size: 18px;
        margin-left: 12px;
    }

    .player_nickname {
        font-size: 24px;
    }

    .player_rating {
        font-size: 14px;
    }
}