body {
    background: -webkit-linear-gradient(top, #1B6990,#141C4C);
    user-select: none;
}

a {
    text-decoration: none;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

.return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;
    display: inline-block;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
}

.window-game {
    height: 200px;
    width: 80%;
    margin: auto;
}

canvas {
    width: 80%;
    height: 550px;
    background: #eee;
    display: block;
    margin: 0 auto;
}