@import "modal.css";
@import "login.css";
@import "leaderboard.css";

/*@import "sign_up.css";*/
/*@import "profile.css";*/
/*@import "rating.css";*/
/*@import "achievement.css";*/
/*@import "game.css";*/
/*@import "about.css";*/

.main-page {
    /*background-color: #00b8d4;*/
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.main-page-center {
    align-self: center;
    margin: auto;
}

.start-game-buttons {
    background-color: white;
    /*align-self: center;*/
}
.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    float: left;
    position: relative;
}

.btn-left {
    background-color: #4CAF50;
    border-radius: 50px 0 0 50px;
}
.btn-left:hover ~ .btn-right{
    width: 200px;
    z-index: 2;
}

.btn-right {
    background-color: orange;
    border-radius: 0 50px 50px 0;
}

.btn-right:hover ~ .btn-left {
    width: 200px;
    z-index: 2;
}

.main-page-leaderboard {
    text-align: center;
}

.main-page-footer {
    text-align: right;
}

.user-state {
    /*background-color: #0D47A1;*/
    height: 50px;
    width: 200px;
    text-align: center;
    align-self: flex-end;
    position: relative;
    display: inline-block;

}


.dropdown-link {

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.user-state:hover .dropdown-content {
    display: block;
}

.signup-link {
    padding-left: 10px;
}

/*.user-state:hover .dropdown-link {*/
    /*background-color: #3e8e41;*/
/*}*/
