#profile_page .title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

#profile_page .return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
    display: inline-block;
}

#profile_page #logout {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50%;
    background: -webkit-linear-gradient(top, #424242, #757575, #424242);
    border: 6px outset #757575;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: white;
    display: inline-block;

}


#profile_page .user-info {
    height: 700px;
    width: 70%;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 18%;
    border: 3px solid rgba(255,255,255,0.3);
    background-color: rgba(69, 90, 100, 0.5);
    color: rgba(255,255,255,0.8);
    text-align: left;
}

#profile_page .column {
    float: left;
    padding: 2%;
}

#profile_page .column-left {
    width: 24%;
    text-align: -webkit-center;
}

#profile_page .column-right {
    width: 68%;
}

#profile_page .avatar img {
    width: 90%;
    height: auto;
    border-radius: 50%;
    border: 0.5em solid rgba(239, 108, 0, 0.9);
}

#profile_page .level {
    width: 45%;
    height: 20%;
    font-size: 200%;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 30px;
    border: 5px solid rgba(247, 127, 23, 0.9);
}

#profile_page .nickname {
    display: inline;
    margin-top: 6px;
}

#profile_page .nickname__label, .nickname__name {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

#profile_page .nickname__label {
    width: 25%;
}

#profile_page .e-mail {
    display: inline;
}

#profile_page .e-mail__label, .e-mail__name {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

#profile_page .e-mail__label {
    width: 25%;
}