body {
    background: -webkit-linear-gradient(top, #1B6990,#141C4C);
    user-select: none;
}

a {
    text-decoration: none;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

.return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
}

.user-info {
    height: 700px;
    width: 70%;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 18%;
    border: 3px solid rgba(255,255,255,0.3);
    background-color: rgba(69, 90, 100, 0.5);
    color: rgba(255,255,255,0.8);
    text-align: left;
}

.column {
    float: left;
    padding: 2%;
}

.column-left {
    width: 24%;
    text-align: -webkit-center;
}

.column-right {
    width: 68%;
}

.avatar img {
    width: 90%;
    height: auto;
    border-radius: 50%;
    border: 0.5em solid rgba(239, 108, 0, 0.9);
}

.level {
    width: 45%;
    height: 20%;
    font-size: 200%;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 30px;
    border: 5px solid rgba(247, 127, 23, 0.9);
}

.nickname {
    display: inline;
    margin-top: 6px;
}

.nickname__label, .nickname__name {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.nickname__label {
    width: 25%;
}

.e-mail {
    display: inline;
}

.e-mail__label, .e-mail__name {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.e-mail__label {
    width: 25%;
}