#rating_page .title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

#rating_page .return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;
    display: inline-block;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
}

#rating_page .selection-group {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;

    background: -webkit-linear-gradient(top, #6A1B9A, #AB47BC, #6A1B9A);
    border: 3px outset #AB47BC;
    border-radius: 5em;
}

#rating_page .selection-group__score, .selection-group__friend-duel, .selection-group__quickness {
    width: 30%;
    padding: 1.2% 1% 1.2% 1%;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

#rating_page .scrollable-list {
    width: 100%;
    height: 400px;
    padding-left: 0px;
    margin-top: 3%;
    margin-bottom: 10%;

    list-style: none;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    white-space: nowrap;

    touchScrolling: true;
}

#rating_page .record {
    width: 65%;
    margin-left: 17.5%;
    margin-bottom: 1%;
    text-align: center;

    background: -webkit-linear-gradient(top, #4DB6AC, #90CAF9, #4DB6AC);
    font-size: 1.5em;
    opacity: 0.7;
    border-radius: 3px;
}

#rating_page .record__number, .record__name, .record__score, .record__round {
    width: 22%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: inline-block;
}

#rating_page .record__number {
    width: 5%;
}

#rating_page .selection-group__score:hover {
    background: #E0E0E0;
    border-radius: 5em 0 0 5em;
}

#rating_page .selection-group__quickness:hover {
    background: #E0E0E0;
}

#rating_page .selection-group__friend-duel:hover  {
    border-radius: 0 5em 5em 0;
    background: #E0E0E0;
}