body {
    background: -webkit-linear-gradient(top, #1B6990,#141C4C);
    user-select: none;
}

a {
    text-decoration: none;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: black;
}

.return-on-main {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #FB8C00, #FFCA28, #FB8C00);
    border: 6px outset #FFCA28;

    text-align: center;
    font-weight: bold;
    line-height: 50px;
    font-size: 1.5em;
    color: black;
}

.list {
    padding: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.selection__list {
    width: 60%;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 15px;

    background: -webkit-linear-gradient(top, #6A1B9A, #AB47BC, #6A1B9A);
    border: 6px outset #AB47BC;
    border-radius: 5em;
}

.rating__list {
    width: 50%;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 5px;

    background: -webkit-linear-gradient(top, #4DB6AC, #90CAF9, #4DB6AC);
    opacity: 0.7;
}

.first {
    width: 60%;
    height: 80px;
    margin-left: 20%;
}

.first .list__item{
    line-height: 80px;
    margin-left: 5%;
    margin-right: 5%;
}

.second {
    width: 56.6%;
    height: 72px;
    margin-left: 21.7%;
}

.second .list__item{
    line-height: 72px;
    margin-left: 4%;
    margin-right: 4%;
}

.third {
    width: 53.3%;
    height: 64px;
    margin-left: 23.3%;
}

.third .list__item{
    line-height: 64px;
    margin-left: 2%;
    margin-right: 2%;
}

.list__item {
    width: 200px;
    height: 50px;

    display: inline-block;

    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.selection__list .list__item {
    margin-left: 5%;
    margin-right: 5%;
}

.score:hover, .quickness:hover, .friend-duel:hover {
    border-radius: 5em;
    background: #E0E0E0;
}