.game-back-link < Back
.game-header
    .flex-info
        .player1
            .player_nickname
            .player_rating Рейтинг:
            .player_rating_score 0
        .score
            .player1_score 0
            .separate :
            .player2_score 0
        .player2
            .player_nickname
            .player_rating Рейтинг:
            .player_rating_score 0
