.game-header
    .game-back-link
        h1 < Back
    .score-player1
        h1 Player 1:
            span.score-player1__score
    .score-player2
        h1 Player 2:
            span.score-player2__score
