.game-header
    .game-back-link
        h1 < Back
    .player
        .player_nickname
        .player_rating Рейтинг:
    .score
        .player1_score 0
        .separate :
        .player2_score 0
    .player
        .player_nickname
        .player_rating Рейтинг:
