//
   Created by tlakatlekutl on 09.03.17.

<<<<<<< HEAD
=======
main
    #return_on_main_ratin.return-on-main На главную
    .title Рейтинг
    .content
        .rating
            #selection-group.selection-group
                h4.selection-group__score Очки
                h4.selection-group__quickness Скорость
                h4.selection-group__friend-duel С друзьями

            ul#scroll_list_rating.scrollable-list
                each user, index in data
                    li.scrollable-list__item
                        .record
                            h4.record__number=user.id
                            h4.record__name=user.login
                            h4.record__score=index


>>>>>>> templates_2
