.danger
    p <strong>Ошибка:</strong> неверный логин или пароль
.login-modal
    form
        label(for="login-input") Nickname
        input(type="text" id="login-input" placeholder="Your nickname.." required="true").login-nickname-input
        label(for="password-input") Password
        input(type="password" id="password-input" placeholder="Your password.." required="true").login-password-input
        input(type="submit" value="Enter the game").login-submit-button