//
   Created by tlakatlekutl on 27.03.17.

.main-page
    .user-state
        if user.authorised
            .dropdown-content
                a.profile-link Profile
                a.logout-link Logout
            a.dropdown-link
                .username #{user.nickname}
                button.dropdown-list
        else
            a.login-link Login
            a.signup-link Sign up
    .name-game FastBall
    .main-page-center
        .start-game-buttons
            button.button.btn-left Single
            button.button.btn-right Multi
        .main-page-leaderboard
            button.leaderboard-button Leaderboard
footer.main-page-footer
    a.footer-help-link
        button.footer-button