.danger.danger-signup
    p <strong>Ошибка:</strong>
.signup-modal
    form
        label(for="signup-nickname-input") Nickname
        input(type="text" id="signup-nickname-input" placeholder="Your nickname.." required="true").signup-nickname-input
        label(for="signup-password-input") Password
        input(type="password" id="signup-password-input" placeholder="Your password.." required="true").signup-password-input
        input(type="password" id="signup-password-repeat" placeholder="Repeat password.." required="true").signup-password-repeat
        label(for="signup-email-input") E-mail
        input(type="email" id="signup-email-input" placeholder="Your email.." required="true").signup-email-input
        input(type="submit" value="Signup and play!").signup-submit-button

