// Created by sergey on 01.05.17.

.victory-modal
    .victory-modal__text Победа
    .rating
        .rating__change Изменение:
            .change 0
        .new__rating Рейтинг:
            .rating_score 0